<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="面包导航-mianbao.cn.com" />
<meta name="description" content="" />
<title>OPS平台导航--好买</title>
<link href="/static/css/metro.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.plugins.min.js"></script>
<script type="text/javascript" src="/static/js/metro.js"></script>
</head>
<body>
<base target="_blank" />
<!-- 代码 开始 -->
<div class="metro-layout horizontal">
	<div class="header">
		<h1>OPS导航</h1>
		<div class="controls">
			<span class="down" title="Scroll down"></span>
			<span class="up" title="Scroll up"></span>
			<span class="next" title="向右滚动"></span>
			<span class="prev" title="向左滚动"></span>
			<span class="toggle-view" title="切换滚动方式"></span>
		</div>
	</div>

	<div class="content clearfix">
		<div class="items">
			<a class="box" href="http://192.168.221.51/operation/vpn/register/" style="background: #ffc808;"><span>VPN注册</span><img class="icon" src="/static/img/openvpn_register.png" style="width:64px;"/></a>
			
			<a class="box" href="http://192.168.221.51/operation/vpn/login/" style="background: #6b6b6b;"><span>VPN管理(密码修改、日志查看)</span><img class="icon" src="/static/img/vpn_changepwd.png" style="width:64px;" /></a>
			
			<a class="box" href="http://mail.icoremail.net/"><span>邮箱WEB</span><img class="icon" src="/static/img/mail.png" /></a>
			
			<a class="box" href="/help/" style="background: #43b51f;"><span>帮助</span><img class="icon" src="/static/img/help.png" style="width:64px;" /></a>
			
			<a class="box" href="http://192.168.221.51/vmware/new_virtual/" style="background: #00aeef;"><span>虚拟机申请</span><img class="icon" src="/static/img/computer.png" style="width:64px;" /></a>
			
			<a class="box" href="http://192.168.221.153/" style="background: #f58d00;"><span>Redmine</span><img class="icon" src="/static/img/redmine.png" style="width:64px;" /></a>
			
			<a class="box" href="http://dms.intelnal.howbuy.com/" style="background: #640f6c;"><span>WIKI</span><img class="icon" src="/static/img/wiki.png" style="width:64px;" /></a>
			
			
			<a class="box" href="http://192.168.221.51/login/" style="background: #00a9ec;"><span>基础架构管理平台</span><img class="icon" src="/static/img/jichu.png" style="width:64px;"/></a>
			
			
			
			<a class="box" href="http://192.168.222.13/zabbix/" style="background: #f874a4;"><span>HK Zabbix</span><img class="icon" src="/static/img/zabbix.png" style="width:64px;"/></a>    
		</div>
	</div>
</div>
<!-- 代码 结束 -->

</body>
</html>