<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/modern-accordion.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<title>OPS联系方式--好买</title>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/modern-accordion.js"></script>          
</head>
<body class="custom-bg">
<ul class="mdn-accordion single-level-accordion blue-accordion-theme">
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-1" id="accordion-panel-1">
		<label class="accordion-title" for="accordion-panel-1"> <i class="fa fa-file-text"></i> 
		VPN注册、VPN密码重置、申请虚拟机、修改虚拟机配置
		</label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>
					VPN注册：<a href="http://192.168.221.51/operation/vpn/register/">请至VPN自主申请平台提交申请</a><br><br>
					
					VPN密码重置：<a href="">请至VPN密码自助修改页面进行密码修改。</a><br><br>
					
					申请虚拟机:<a href="http://192.168.221.51/vmware/new_virtual/">请至虚拟机申请平台进行申请提交。</a><br><br>
					
					修改虚拟机配置：<a href="http://192.168.221.51/vmware/task/"> 请提交相应虚拟机的工单，然后等待操作结果即可</a>
					
					</p> 
					
					<p>
					管理员联系方式：<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎ &nbsp;&nbsp;韩会飞&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18321628933&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信：手机号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：1530060015<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎ &nbsp;&nbsp;陈帅维&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel: 13764135758&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信：手机号
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：1004232441
					</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-2" id="accordion-panel-2">
		<label class="accordion-title" for="accordion-panel-2"><i class="fa fa-file-text"></i> 堡垒机权限申请、防火墙开通、线上系统密码过期 </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>
					
				 <span style="font-weight: 900;">堡垒机权限申请：</span>请提供相关的系统IP地址；权限授于人和具体权限，发送给部门负责人并抄送李骏（jun.li01@howbuy.com)和岑崟(yin.cen@howbuy.com)，获得部门负责人同意后方可授予权限
	
</p> <p> <span style="font-weight: 900;">防火墙开通：</span>请提供源IP地址和目的IP地址及需开通的端口号，发送给部门负责人并抄送李骏（jun.li01@howbuy.com)和岑崟(yin.cen@howbuy.com)，获得部门负责人同意后可方可开通</p>

					<p>
					管理员联系方式：<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎ &nbsp;&nbsp;李骏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18621563873&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信：未公开
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：15228390<br>
					</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-3" id="accordion-panel-3">
		<label class="accordion-title" for="accordion-panel-3"><i class="fa fa-file-text"></i> How do I upload large files? </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, 
					possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil 
					sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta 
					fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque 
					perferendis eos aut quidem!</p> <p> Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime 
					culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis 
					quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-4" id="accordion-panel-4">
		<label class="accordion-title" for="accordion-panel-4"><i class="fa fa-file-text"></i> Any support backup to my files? </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, 
					possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil 
					sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta 
					fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque 
					perferendis eos aut quidem!</p> <p> Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime 
					culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis 
					quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name ="accordion-panel-5" id="accordion-panel-5">
		<label class="accordion-title" for="accordion-panel-5"><i class="fa fa-file-text"></i> Are there any hidden fees? </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, 
					possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil 
					sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta 
					fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque 
					perferendis eos aut quidem!</p> <p> Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime 
					culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis 
					quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-6" id="accordion-panel-6">
		<label class="accordion-title" for="accordion-panel-6"><i class="fa fa-file-text"></i> How does syncing work? </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, 
					possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil 
					sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta 
					fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque 
					perferendis eos aut quidem!</p> <p> Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime 
					culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis 
					quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->
	
	<li class="sub-level">
		<input class="accordion-toggle" type="checkbox" name="accordion-panel-7" id="accordion-panel-7">
		<label class="accordion-title" for="accordion-panel-7"><i class="fa fa-file-text"></i> Do you offer refunds? </label>
		<ul>
			<li>
				<div class="mdn-container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, 
					possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil 
					sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta 
					fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque 
					perferendis eos aut quidem!</p> <p> Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime 
					culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis 
					quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
				</div>
			</li>
		</ul>
	</li><!-- end accordion panel -->                         
</ul><!-- mdn-accordion -->


</body>
</html>
