{% extends "header.html" %}
{% load  web_tag %}
{% block conten %}


<link rel="stylesheet" href="/static/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="/static/plugins/iCheck/all.css">
<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker-bs3.css">

<div class="box box-primary" style="width: 75%;">
	<div style="width:80%;margin:20px;">
            <div class="box-header with-border">
              <h3 class="box-title">新增</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form action="" method="post">
                <!-- text input -->
                
                <div class="left" style="margin-bottom: 15px;">
					<label>应用名</label>
					<input type="text" class="form-control"  required="required" id="name" name="name" />
				</div>
				
                <div class="left" style="margin-bottom: 15px;">
					<label>运维负责人</label>
					<select onchange="Change()" id="belongu" name="belongu" style="width: 100%;" class="form-control select2">
						{% for x in users %}
						<option value="{{x.id}}" >{{x.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				 <div class="left" style="margin-bottom: 15px;">
					<label>开发负责人</label>
					<input type="text" class="form-control" id="devu" name="devu" />
				</div>
				
				<div class="left" style="margin-bottom: 15px;">
					<label>测试负责人</label>
					<input type="text" class="form-control" id="examu" name="examu" />
				</div>
				
				<div class="left" style="margin-bottom: 15px;">
					<label>备注</label>
					<textarea name="remark" id="remark" style="width:100%;height:150px;" placeholder="备注让生活变的更精彩.....">{{pools.remark}}</textarea>
				</div>
				
				<div style="float:right;">
				<button class="btn btn-block btn-success" name="submit" id="submit">确认新增</button>
              	</div>
              </form>
            </div>
            <!-- /.box-body -->
            <div class="control-sidebar-bg"></div>
          </div>
</div>



<!-- Select2 -->
<script src="/static/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/static/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="/static/js/moment.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="/static/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="/static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  });
</script>


{% endblock %}