{% extends "header.html" %}
{% block conten %}

<div style="width: 1120px;margin-left: 15px;">
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>资产管理</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content" style="display:block;">
				<div style="float:left;width:49%;margin-left:5px;">
					<input type="text" id="" name="" placeholder="CPU型号" style="width:42%"/>
					<input type="text" id="" name="" placeholder="CPU插槽数" style="width:21%;margin-left:10px;"/>
					<input type="text" id="" name="" placeholder="单颗CPU核心数" style="width:21%;margin-left:10px;"/>
					
					<div class="row-fluid sortable">
				<div class="box span6" style="width:98%">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>CPU 信息</h2>
					</div>
					<div class="box-content">
						<table class="table">
							  <thead>
								  <tr>
									  <th>编号</th>
									  <th style="text-align: center;">型号</th>
									  <th>插槽数</th>
									  <th>核心数</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
							  {% for cpu in cpus %}
								<tr>
									<td>{{cpu.id}}</td>
									<td>{{cpu.CPU_model}}</td>
									<td class="center">{{cpu.CPU_num}}</td>
									<td class="center">{{cpu.cpu_num_core}}</td>                                       
								</tr>
							  {% endfor %}                              
							  </tbody>
						 </table>  
						 <div class="pagination pagination-centered">
						  <ul>
							<li><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						  </ul>
						</div>     
					</div>
				</div><!--/span-->
			</div>
					
					
				</div>
				<div style="float:left;width:49%;margin-left:15px;">
					<input type="text" id="" name="" placeholder="内存数量" style="width:42%"/>
					<input type="text" id="" name="" placeholder="单根内存大小" style="width:21%;margin-left:10px;"/>
					<input type="text" id="" name="" placeholder="总内存" style="width:21%;margin-left:10px;"/>
					
					<div class="row-fluid sortable">
				<div class="box span6" style="width:98%">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>内存信息</h2>
					</div>
					<div class="box-content">
						<table class="table">
							  <thead>
								  <tr>
									  <th>编号</th>
									  <th style="text-align: center;">数量</th>
									  <th>单根大小</th>
									  <th>总大小</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
							  {% for memory in memorys %}
								<tr>
									<td>{{memory.id}}</td>
									<td>{{memory.Memory_num}}</td>
									<td class="center">{{memory.Memory_size}}</td>
									<td class="center">{{memory.Memory_total}}</td>                                       
								</tr>
							  {% endfor %}                              
							  </tbody>
						 </table>  
						 <div class="pagination pagination-centered">
						  <ul>
							<li><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						  </ul>
						</div>     
					</div>
				</div><!--/span-->		
					
				</div>
				</div>
			</div>
		</div><!--/span-->
	</div>
	
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>系统设置</h2>
			</div>
			
			<div class="box-content" style="display:block;">
				
				<div style="float:left;width:47%;">
					<input type="text" id="" name=""/>
				</div>
			</div>
			
		</div><!--/span-->
	</div>
	
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>框架示例</h2>
					<div class="box-icon">
						<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
					</div>
			</div>	
		</div><!--/span-->
	</div>
	
</div>

{% endblock %}