<!DOCTYPE html>
<head>
<link REL="SHORTCUT ICON" HREF="/static/favicon.ico">
<html lang="zh-CN">
 <meta http-equiv="refresh" content="3;url=/login/"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>CMDB用户注册</title>
<link rel="stylesheet" href="/static/css/style_regist.css">
<link rel="stylesheet" href="/static/css/regist_dot_style.css">
</head>
<body>

<div class="loader">
<a href="/login/" style="text-decoration:none;font-size: 32px;margin-right:15px;">验证成功！跳转中</a>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

</body>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/common.js"></script>
<!--背景图片自动更换-->
<script src="/static/js/supersized.3.2.7.min.js"></script>
<script src="/static/js/supersized-init.js"></script>
<!--表单验证-->
<script src="/static/js/jquery.validate.min.js?var1.14.0"></script>
</html>